.videoDetails {
    video {
        height: 83vh;
    }

    .arrows {
        margin-bottom: 81%;
    }
}


.videoCard {
    background-color: grey;
    font-size: 10px;
    height: 59vh;
    width: 26vw;
    border-radius: 10px;

    .personDetails {
        margin-top: 30%;

        .name {
            font-size: 12px;
            font-weight: 900;
            color: white;
        }

        .position {
            font-size: 7px;
            font-weight: 800;
            color: white;
        }

        .company {
            color: red;
        }
    }
}

.active-video-slide {
    font-size: 12px;
    width: 17vw;
    margin-right: 30px;

    .videoHeader {
        display: flex;
        position: absolute;
        color: white;
        margin: 10px 0px 0px 64px;

        .activeVideoImage {
            height: 29px;
            border-radius: 50%;
        }

        .activeVideoDetails {
            font-size: 7px;
            margin-left: 10px;
            text-align: left;
            .activeVideoName {}

            .activeVideoName {}

            .activeVideoCompany {
                color: red;
            }
        }
    }

    video {
        height: 63vh;
        width: 17vw;
    }
}

.activeVideoCard {
    width: 25vw;
    margin-right: 30px;

    h2 {}

}